@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<FloatingPanel Target=@Target?.GameObject ConfineToScreen=@true ConfinementMargin=@(new Vector2( 0.04f, 0.03f ) )>
        <Body>
            <p>@(Target?.Name ?? "null") @GetDistanceText()</p>
        </Body>
    </FloatingPanel>
</root>

@code
{

}
