@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<FloatingPanel Target=@Target ConfineToScreen=@true ConfinementMargin=@(new Vector2( 0.04f, 0.03f ) )>
        <Body>
            <FillBar Icon=@string.Empty FillColor=@Color.Red FillPercentGetter=@GetHealthPercent/>
        </Body>
    </FloatingPanel>
</root>

@code
{

}
