@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<FloatingPanel Target=@Target ConfineToScreen=@true ConfinementMargin=@(new Vector2( 0.04f, 0.03f ) )>
        <Body>
            <FillBar Icon=@string.Empty FillColor=@Color.Red FillPercentGetter=@GetHealthPercent/>
        </Body>
    </FloatingPanel>
</root>

@code
{
    [Property] public GameObject Target { get; set; }
    public IHealth Health { get; set; }

    protected override int BuildHash() => System.HashCode.Combine( Target, Health, Health?.CurrentHealth, Health?.MaxHealth );

    private float GetHealthPercent()
    {
        if ( Health is null )
            return 0f;

        return ( Health.CurrentHealth / Health.MaxHealth ) * 100f;
    }
}
