@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    @if ( GetCargoCapacity() > 0)
    {
        <div id="cargoBar" class="column">
            <div class="center-content">
                <div class="icon">inventory_2</div>
                <div class="count">@GetCargoCount()/@GetCargoCapacity()</div>
            </div>
            @if( Ship.IsValid() && Ship.Cargo is not null && Ship.Cargo.Count > 0 )
            {
                <Image Texture=@Ship.Cargo.Items.Last().InventoryIcon/>
            }
        </div>
    }
	<div id="bottomBars">
        <FillBar class=@_shieldBarStyle Icon="offline_bolt" FillColor=@ShieldColor FillPercentGetter=@GetShieldPercent/>
        <FillBar Icon="local_gas_station" FillColor=@FuelColor FillPercentGetter=@GetFuelPercent/>
        <FillBar Icon="security" FillColor=@HullColor FillPercentGetter=@GetHullPercent/>
    </div>
</root>

@code
{
    
}
