@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div id="keys" class="column">
        <div class="center-content">
            <div id="wKey" class="key center-content @WKeyClass @VerticalClass">W</div>
        </div>
        <div class="center-content">
            <div id="aKey" class="key center-content @AKeyClass">A</div>
            <div id="sKey" class="key center-content @SKeyClass @VerticalClass">S</div>
            <div id="dKey" class="key center-content @DKeyClass">D</div>
        </div>
    </div>
</root>

@code
{

}
