@using System.Linq;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="title">PAUSED</div>
	<div id="buttonList" class="column center-content">
		<div class="button" onclick=@Resume>RESUME</div>
        <div class="button" onclick=@OpenSettings>SETTINGS</div>
        <div class="button" onclick=@Quit>QUIT GAME</div>
	</div>
</root>

@code
{

}
