@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    @if ( ShowDeathText )
    {
        <h1 id="deathText">@DeathText</h1>
    }

    @if ( ShowInstruction )
    {
        <div id="instruction" class="column center-content">
            <div>
                <h4>@RespawnFeeLabel</h4>
                <h4 class="cost">@RespawnFeeCost</h4>
            </div>
            <h3>@InstructionText</h3>
        </div>
    }
</root>

@code
{
    [Property] public string DeathText { get; set; } = "Ship Lost";
    [Property] public string RespawnFeeLabel { get; set; } = "Ship Replacement Fee:";
    // TODO: Use a glyph instead of text.
    [Property] public string InstructionText { get; set; } = "Press R to Respawn";

    private string RespawnFeeCost => Career.HasMoney()
        ? $"{Career.RespawnFee} CREDITS"
        : $"ALL REMAINING CREDITS";

    private bool ShowDeathText { get; set; } = false;
    private bool ShowInstruction { get; set; } = false;

    protected override void OnStart()
    {
        _ = Task.DelaySeconds(3f).ContinueWith(_ => ShowDeathText = true);
        _ = Task.DelaySeconds(3.5f).ContinueWith(_ => ShowInstruction = true);
    }

    protected override int BuildHash() 
        => System.HashCode.Combine(DeathText, InstructionText, ShowDeathText, ShowInstruction, RespawnFeeLabel );

    protected override void OnUpdate()
    {
        if ( Input.Pressed( "stabilizer" ) )
        {
            ShipController.Respawn();
            Enabled = false;
        }
    }
}
