@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    @if ( ShowDeathText )
    {
        <h1 id="deathText">@DeathText</h1>
    }

    @if ( ShowInstruction )
    {
        <div id="instruction" class="column center-content">
            <div>
                <h4>@RespawnFeeLabel</h4>
                <h4 class="cost">@RespawnFeeCost</h4>
            </div>
            <h3>@InstructionText</h3>
        </div>
    }
</root>

@code
{

}
