@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<FloatingPanel Target=@Target>
        <Body>
            <InputGlyphPanel @ref=GlyphPanel/>
            <img style="background-image: url(@Image); transform: translate(-50%, -50%) rotate(@CurrentRotation) scale(@CurrentScale);" />
        </Body>
    </FloatingPanel>
</root>

@code
{

}
