@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="column">
	<div id="topBar" class="center-content">
        <div class="title">SETTINGS</div>
        <div id="backButton" class="button" onclick=@Back>BACK</div>
    </div>
	<div id="mainArea" class="column">
        <div class="category column">
            <div class="header">CONTROLS</div>
            <div class="body column center-content">
                <div class="setting">
                    <div class="label">CONTROL STYLE</div>
                    <div class="button" onclick=@(() => ControlStyleMenu.Enabled = true )>@(ShipController.DefaultToTankControls ? "TANK CONTROLS" : "TAP TO TURN")</div>
                </div>
            </div>
        </div>
        <div class="category column">
            <div class="header">VISUALS</div>
            <div class="body column center-content">
                <div class="setting">
					<div class="label">Bloom Intensity</div>
					<SliderControl Max=@(1f) Step=@(0.1f) ShowRange=@true Value=@PostProcessingController.BloomIntensity 
                        OnValueChanged=@SetBloomIntensityScale/>
				</div>
            </div>
        </div>
		<div class="category column">
			<div class="header">COMFORT</div>
			<div class="body column center-content">
				<div class="setting">
					<div class="label">Screen Shake Amount</div>
					<SliderControl Max=@(1f) Step=@(0.1f) ShowRange=@true Value=@ScreenShake.ScreenShakeScale 
                        OnValueChanged=@SetScreenShakeScale/>
				</div>
                <div class="setting">
					<div class="label">Laser Beam Brightness</div>
					<SliderControl Min=@(0.1f) Max=@(1f) Step=@(0.1f) ShowRange=@true Value=@LaserBeam.BrightnessScale
                        OnValueChanged=@SetLaserBrightnessScale/>
				</div>
                <div class="setting">
					<div class="label">Volumetric Fog Thickness</div>
					<SliderControl Min=@(0f) Max=@(1f) Step=@(0.1f) ShowRange=@true Value=@FogController.IntensityScale
                        OnValueChanged=@SetFogIntensityScale/>
				</div>
			</div>
		</div>
        <div class="category column">
            <div class="header">DATA</div>
            <div class="body column center-content">
                <div class="button danger" onclick=@(() => _showModal = true)>WIPE SAVE DATA</div>
            </div>
        </div>
	</div>
    <div class="modal center-content @ModalClass">
        <div class="box column center-content">
            <h2>Are you sure you wish to delete your save file?</h2>
            <div class="options">
                <div class="button danger" onclick=@WipeSaveData>YES</div>
                <div class="button" @onclick=@(() => _showModal = false )>NO</div>
            </div>
        </div>
    </div>
</root>

@code
{
    [Property] public PanelComponent ReturnMenu { get; set; }
    [Property] public PanelComponent ControlStyleMenu { get; set; }

    protected override int BuildHash() => System.HashCode.Combine( ScreenShake.ScreenShakeScale, LaserBeam.BrightnessScale, FogController.IntensityScale, PostProcessingController.BloomIntensity, _showModal );

    private string ModalClass => _showModal ? "" : "hidden";
    private bool _showModal = false;

    private bool _clickedBack = false;

    protected override void OnUpdate()
    {
        base.OnUpdate();

        if ( Input.EscapePressed && !ControlStyleMenu.Enabled )
        {
            _showModal = false;
            Back();
        }
    }

    private void SetScreenShakeScale( float value)
    {
        ScreenShake.ScreenShakeScale = value;
    }

    private void SetLaserBrightnessScale( float value )
    {
        LaserBeam.BrightnessScale = value;
    }

    private void SetFogIntensityScale( float value)
    {
        FogController.IntensityScale = value;
    }

    private void SetBloomIntensityScale( float value)
    {
        PostProcessingController.BloomIntensity = value;
    }

    private void WipeSaveData()
    {
        SaveManager.DeleteSaveFile( SaveManager.GetSaveSlotFileName( 0 ) );
        _showModal = false;
    }

    private void Back()
    {
        if (_clickedBack)
            return;

        SetClass("hidden", true);
        Settings.SaveToDisk();
        ReturnMenu.Enabled = true;
        _ = Task.DelayRealtimeSeconds(0.15f).ContinueWith(_ => { Enabled = false; });
    }
}
