@import "Styles/main.scss";

ShopPanel {
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	pointer-events: all;
	color: white;
	font-family: 'UAV OSD Sans Mono';

	.price {
		color: dodgerblue;

		&.insufficient {
			color: red;
		}
	}

	#mainPanel {
		height: 90%;
	}

	#bottomBar {
		height: 10%;
		width: 100%;
		padding: 10px;
		justify-content: space-between;
		align-items: center;
		background-color: #000C;
		font-size: 2vh;

		#creditsDisplay {
			left: 10%;
		}

		#exitButton {
			height: 100%;
			width: 10%;
			right: 10%;
		}
	}

	#mainPanel {
		padding: 25px;
	}

	#leftPanel {
		width: 35%;
		justify-content: space-between;

		#maintenancePanel {
			width: 100%;
			align-items: center;
			margin-bottom: 25px;

			.button {
				width: 100%;
				font-size: 1.5vh;
				margin: 5px;

				&:active {
					FillBar {
						color: black;

						.bar {
							border-color: black;
						}
					}
				}

				FillBar {
					width: 80%;
				}
			}

			.price {
				margin-left: 20px;
			}
		}

		#sellPanel {
			flex-grow: 1;
			border: 1px solid white;

			.cargo {
				padding: 5px;
				justify-content: space-between;
				font-size: 2vh;

				Image {
					margin-left: 3vw;
					width: 4vw;
					height: 4vw;
				}

				.name {
					font-size: 2vh;
				}

				.price {
					align-items: center;
				}
			}
		}
	}

	.header {
		background-color: white;
		color: black;
		font-size: 2vh;
		padding: 5px;
		flex-shrink: 0;
	}

	#buyPanel {
		flex-grow: 1;
		border: 1px solid white;
		margin: 5px 5px 0px 25px;
		overflow: scroll;

		.upgrade {
			margin: 5px 0px;
			padding: 5px;
			border: 1px solid #FFFFFF03;
			min-height: 10vh;

			Image {
				width: 5vw;
				height: 5vw;
			}

			#infoColumn {
				flex-grow: 1;
				text-align: center;
				font-family: Poppins;

				h3 {
					font-size: 2.5vh;
				}

				.description {
					font-size: 2vh;
				}

				.flavor {
					font-size: 1.75vh;
					color: #FFFD;
					font-style: italic;
				}
			}

			#buyColumn {
				min-width: 10%;

				.price {
					font-size: 1.5vh;
					margin: 5px;
				}

				.button {
					height: 5vh;
					width: 5vw;
					font-size: 2vh;
				}
			}
		}
	}
}