@using System.Linq;
@using System.Collections.Generic;
@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="column">
    <div id="mainPanel">
        <div id="leftPanel" class="column">
            <CargoPriceSummary Shop=@Shop/>
            <CargoSellPanel Shop=@Shop/>
        </div>
        <EquipmentBuyPanel Shop=@Shop/>
    </div>
    <div id="bottomBar">
        <p id="creditsDisplay">@(Career.Active.Money) CREDITS</p>
        <LaserOptions/>
        <div id="exitButton" class="button" @onclick=@Exit>EXIT</div>
    </div>
</root>

@code
{

}
