@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <FloatingPanel Target=@TargetInstance ConfineToScreen=@true style="opacity: @Opacity;">
        <Body>
	        <div class="text @TextClass">@Text</div>
        </Body>
    </FloatingPanel>
</root>

@code
{

}
