@import "../Styles/main.scss";

FillBar {
    color: white;
    align-items: center;

    .bar {
        border: 1px solid white;
        border-radius: 5px;
        padding: 2px;
        height: 50%;
        width: 100%;

        .fill {
            height: 100%;
            border-radius: 0px 5px 5px 0px;
        }
    }
}