InputGlyphPanel {
    flex-direction: column;
    justify-content: center;

    InputGlyphControl {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 10px;

        image {
            width: contain;
            width: 2vh;
            height: 2vh;
            margin-right: 10px;
            margin-left: 20px;
        }

        h2 {
            font-size: 1vh;
        }
    }
}