$primary: white !default;
$primary-alt: red !default;

.checkbox {
    cursor: pointer;
    color: white;
    align-items: center;

    label {
        pointer-events: none;
    }

    > .checkmark {
        padding: 1px;
        font-size: 22px;
        border: 1px solid white;
        border-radius: 4px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: transparent;
        min-height: 2vh;
        margin-right: 10px;
        pointer-events: none;
    }

    &.checked {
        > .checkmark {
            color: black;
            background-color: white;
        }
    }

    &:active {
        color: white;
    }

    &:hover {
        color: white;
    }
}
