.button {
    color: white;
    border: 1px solid #FFF5;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #000000F0;
    backdrop-filter: blur(5px);

    &.disabled {
        background-color: #6666;
        border-color: #FFF1;
        color: #AAA;
    }

    &:not(.disabled) {

        &:hover {
            background-color: #FFF6;
            border: 1px solid #0005;

            &:not(:active) {
                text-shadow: 1px 1px 2px 2px black;
            }
        }

        &:active {
            transform: scale( 0.98 );
            background-color: #EEE;
            backdrop-filter: blur(5px);
            color: black;
        }
    }
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.column {
    flex-direction: column;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.icon {
    font-family: 'Material Icons';
    font-size: 28px;
    margin: 5px;
}